<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="keywords"      content="HTML, CSS, JavaScript">
    <meta name="description"   content="Lista 01 questao 05">
    <meta name="author"        content="Hélio Senna Valentim">
    <meta name="viewport"      content="width=device-width, initial-scale=1.0">
<style>

  body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 20px;
    }
  .box-model {
    width: 1000px;
    paddind: 20px;
    border: 5px solid #007BFF;
    margin: 100px;
    background-color: #e0f7fa;
	
  h1{
    color: black;
    font-family: verdana;
    font-size: 300%;		
    }

  p{
    color: blue;
    font-family: verdana;
    font-size: 150%;
		
    }
  
</style>
</head>